@model SAMarineAndBoatSupplies.Models.ProdctViewModel.ProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h2 class="display-4">Edit Product Details</h2>
<a class="d-flex align-items-baseline" asp-action="Index"><div class="triangle"></div><h4>Back to Dashboard</h4></a><br />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.ImagePath" />
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Product.Name" class="control-label"></label>
                        <input asp-for="Product.Name" name="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Product.Description" class="control-label"></label>
                        <textarea asp-for="Product.Description" name="Product.Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Product.Price" class="control-label">Price (Exclude £ sign, e.g. 9.99)</label>
                        <input asp-for="Product.Price" name="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Product.CategoryId" class="control-label">Select Category</label>
                        <input asp-for="Product.CategoryId" name="Product.CategoryId" class="form-control" />
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Product.ImagePath" name="img" class="control-label">Upload New Image</label>
                    <input asp-for="Product.ImagePath" name="img" class="form-control" type="file" />
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-lg btn-success" />
            </div>
        </form>
    </div>
</div>
