@{
    ViewData["Title"] = "About Us";
}

<div class="animated fadeIn main" id="main">
    <h2 class="display-4">@ViewData["Title"]</h2>

    <p class="lead">This is a working boatyard on Richmond Walk in Plymouth. We offer storage and moorings as well as repairs, which include gel repairs, resprays, rudders, keels, masts, riggings.</p>

    <br />

    <h2 class="display-4">Contact Us</h2>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        Phone: 425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>