@model SAMarineAndBoatSupplies.Models.Welcome
@{
    ViewData["Title"] = "Welcome";
}

<div class="row d-flex align-items-center ">
    <div id="main-left" class="col-sm-7">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">@Model.Welcome1</p>
        <hr class="my-4">
        <p>@Model.Welcome2</p>
    </div>

    <div class="col-sm-5 animated fadeIn">

        <div class="col d-flex flex-column justify-content-around main-menu">
            <a asp-controller="Products" asp-action="Index" role="button" class="btn btn-lg btn-outline-light">Shop</a>
            <a asp-controller="Home" asp-action="About" role="button" class="btn btn-lg btn-outline-light">About Us</a>
        </div>
    </div>
</div>