@{
    ViewData["Title"] = "Welcome";
}

<div class="row d-flex align-items-center ">
    <div id="main-left" class="col-sm-7 animated fadeIn">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a working boatyard on Richmond Walk in Plymouth. We offer storage and moorings as well as repairs, which include gel repairs, resprays, rudders, keels, masts, riggings. </p>
        <hr class="my-4">
        <p>We also undertake electrical works on all areas of the boat. Insurance work? No problem. We offer a complete service.</p>
    </div>

    <div class="col-sm-5 animated fadeIn">

        <div class="col d-flex flex-column justify-content-around main-menu">
            <a asp-controller="Products" asp-action="Index" role="button" class="btn btn-lg btn-outline-light">Shop</a>
            <a asp-controller="Home" asp-action="About" role="button" class="btn btn-lg btn-outline-light">About Us</a>
        </div>
    </div>
</div>